@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: gilroyR;
    src: url(./assets/fonts/gilroy/Gilroy-Regular.woff);
}

@font-face {
    font-family: gilroySemi;
    src: url(./assets/fonts/gilroy/Gilroy-Semibold.woff);
}

@font-face {
    font-family: gilroyMedium;
    src: url(./assets/fonts/gilroy/Gilroy-Medium.woff);
}

@font-face {
    font-family: gilroyBold;
    src: url(./assets/fonts/gilroy/Gilroy-Bold.woff);
}

:root {
    /* Mode 1 */
    /* colors */
    --white: #FFF;
    --red: #C20F0F;
    --cta: #F6931C;
    --yellow: #FF9800;
    --cta2: #163D60;
    --ctaA: rgba(246, 148, 28, 20%);
    --black: #1B161C;
    --blue-lite: #d6f4ff;
    --gray: #707070;
    --green-lite: #caf5c9;
    --red-lite: #ffcbc2;
    --stroke: #0404044d;
    --yellow-lite: #fef4be;
    --index: calc(1vw + 1vh);

    --bgcolor: #F3F3F3;
    --font: "Gilroy";

    --text-gray: #878c8e;

    --theme-color_light: #f1f2ee;
    --theme-color_dark: #040404 !important;

    --border-inset: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --linearGradient: linear-gradient(99.64deg,
            rgba(0, 138, 77, 1) 0%,
            rgba(0, 128, 175, 1) 100%);

    --ctaGradient: linear-gradient(43deg, #fc9c0d 0%, #f6931c 100%);

    /*fonts*/
    --font1: "Plus Jakarta Sans";
    --font2: "Gilroy", var(--font1);

    --struct: 85%;

    @media all and (max-width: 1000px) {
        --struct: 90% !important;
    }



}

body,
html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--bgcolor);
    //   width: 100%;
    //   height: 100%;
    font-size: 1em;
    font-weight: 300;
    /*light 300*/
    /*Regular 400*/
    font-family: var(--font1), var(--font2), BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: color 0.2s, background-color 0.3s;
    overflow-x: hidden !important;

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }

}